html {
    background-color: rgb(24,24,24);
    margin: 20 !important;
}

h1, h2, h3, a, p, ul, form {
    font-family: Arial;
    color: white;
}

pre {
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 2;
    margin-bottom: 25;
}

.lim {
    margin-bottom: -10 !important;
}

ul {
    font-size: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    color: white;
}

.viewCompleted {
    margin-top: 20;
}

.m5 {
    margin-top: 5 !important;
}

.btnDelete {
    color: red;
}

.btnEdit {
    color: blue;
}

.btnSave {
    color: green;
}

.txtDesc {
    width: 35%;
    height: 100px;
}

.taskTitle {
    font-size: 25px;
    font-weight: bold;
    width: 35%
}

.cat {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: black;
    background-color: aqua;
    
}

.catUrgent {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 5px;

    display: inline-block;

    color: white;
    background-color: red; 
}

.catGood {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: black;
    background-color: greenyellow;
}

.catNegative {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: white;
    background-color: purple;
}

.export {
    font-size: 15px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.titleLogo {
    width: 50px;
}

.title {
    display: fl;
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
}

.footerLogo {
    width: 200px;
    position: fixed;
    right: 20;
    bottom: 0;
    cursor: pointer;
}

.darkmodeToggle {
    margin: 15;
    position: fixed;
    right: 15;
    top: 15;
    font-family: Arial;
    color: white;
}

input[type="checkbox"], input[type="button"] {
    cursor: pointer;
}