html {
    background-color: white;
    margin: 20px !important;
}

h1, h2, h3, a, p, ul, form, .font, .formarea {
    font-family: Arial;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 2;
    margin-bottom: 25;
}

.lim {
    margin-bottom: -10 !important;
}

ul {
    font-size: 15px;
}

.viewCompleted {
    margin-top: 20;
}

.m5 {
    margin-top: 5 !important;
}

.btnDelete {
    color: red;
}

.btnEdit {
    color: blue;
}

.btnSave, .btnArchive {
    color: green;
}

.txtDesc {
    width: 35%;
    height: 100px;
}

.taskTitle {
    font-size: 25px;
    font-weight: bold;
    width: 35%
}

.cat {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: black;   
}

.catUrgent {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 5px;

    display: inline-block;

    color: white;
    background-color: red;
    border: 2px solid rgb(153, 0, 0);
}

.catUrgentFlash {
    color: white !important;
    background-color: orange !important;
    border: 2px solid rgb(153, 0, 0);
}

.catGood {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: black;
    background-color: greenyellow;
    border: 2px solid rgb(104, 153, 28);
}

.catNegative {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;

    display: inline-block;

    color: white;
    background-color: purple;
    border: 2px solid rgb(77, 0, 77);
}

.export {
    font-size: 15px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.titleLogo {
    width: 50px;
}

.title {
    display: fl;
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
}

.footerLogo {
    width: 200px;
    position: fixed;
    right: 20;
    bottom: 0;
    cursor: pointer;
}

.darkmodeToggle {
    margin: 15;
    position: fixed;
    right: 40;
    top: 50;
    font-family: Arial;
    color: black;
}

input[type="button"] {
    cursor: pointer;
}

.boxed {
    margin-bottom: 10px;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 20px;
}

.txtAddTask {
    width: 300px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 45%;
    height: auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    top: 25%;
    padding: 5px;
    left: 27.5%;
    border: 2px solid crimson;
}

.modalContent {
    color: black;
    padding: 5px;
    margin-left: 20px;
}

.errorDiv {
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: rgba(0, 204, 82, 0.849) !important;
    cursor: pointer;
}